
body {
    background-color: rgba(0, 0, 0, 0.737);
    color: white;
}

#contador {
    margin-top: 30px;
    margin-left: 20px;
    padding: 1rem;
    background-color: black;
    width: 300px;
    height: 300px;
}

#div-p {
    border: 1px solid white;
    width: 300px;
    margin: auto;
    border-radius: 100%;
}   

#divizinha {
    border: 3px solid white;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-size:85px;
    color: white;
}
.div-img {
    background-color: black;
}

#input_1 {
    background-color: rgb(134, 153, 208);
    width: 100px;
    height: 30px;
    margin: 3px;
}

#input_2 {
    background-color: rgb(134, 153, 208);
    width: 100px;
    height: 30px;
    margin: 3px;
}


#input_3 {
    background-color: rgb(134, 153, 208);
    width: 100px;
    height: 30px;
    margin: 3px;
}

#input_4 {
    background-color: rgb(134, 153, 208);
    width: 100px;
    height: 30px;
    margin: 3px;
}

#alexandre {
    font-size: 30px;
    color: blue;
    margin-right: 200px;
}

#div-inputs {
    display: flex;
    width: 150px;
    height: 50px;
}

.mulher {
    width: 50px;
    height: 50px;
}

.homem {
    width: 50px;
    height: 50px;
}
#nome1 {
    width: 100px;
    height: 40px;
}

